*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}

img, picture, svg {
	display: block;
	max-width: 100%;
}

.result-summary {
	scale: 1.2;
}

svg {
	stroke:red;
}